/*     ___RESEST__     */
@import url("https://fonts.googleapis.com/css2?family=Source+Serif+Pro&family=Urbanist:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,700;1,400;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* font-family: 'Source Serif Pro', serif;
font-family: 'Urbanist', sans-serif;*/
/* font-family: 'Roboto', sans-serif; */
body {
  background-color: #000000;
}

body h1 {
  margin-top: 10rem;
  margin-bottom: 10rem;
}

body .tituloIndex {
  color: #e4c4f5;
  font-family: 'Urbanist', sans-serif;
  font-weight: 600;
  font-size: 7rem;
  text-align: center;
}

body header {
  background-image: url("../imagenes/fondoheader222.jpg");
  height: 300px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-position: center;
  padding-top: 3rem;
}

body header .header__logo {
  width: 200px;
  margin-left: 3rem;
  margin-top: 0.5rem;
}

body header .nombre_pagina {
  height: 20%;
}

body header .contenedorNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  position: absolute;
  top: 0;
  background-color: #e4c4f5;
  opacity: 0.7;
}

body section {
  background-position: center;
  background-size: cover;
  text-align: center;
}

body .destacados {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .destacados .destacados__productos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body .destacados .producto__imagen {
  width: 20vh;
  height: 20vh;
  border-radius: 10px;
}

body .destacados .producto__index {
  -webkit-transition: 1s;
  transition: 1s;
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
}

body .destacados .producto__index:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

body .destacados p {
  margin-bottom: 1rem;
  color: #e4c4f5;
  font-size: 2.5rem;
  font-family: 'Urbanist', sans-serif;
  font-weight: 600;
}

body .destacados .carousel {
  width: 600px;
  margin-top: 10rem;
  margin-left: 3rem;
}

.verTodosTexto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.verTodosTexto .verTodos {
  margin-top: 10rem;
  margin-bottom: 10rem;
  text-decoration: none;
  color: #e4c4f5;
  display: block;
  color: #e4c4f5;
  font-family: 'Source Serif Pro', serif;
  font-weight: 600;
  font-size: 3rem;
  text-align: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(currentColor), to(currentColor));
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  -webkit-transition: background-size .3s;
  transition: background-size .3s;
}

.verTodosTexto .verTodos:hover, .verTodosTexto .verTodos:focus {
  background-size: 100% 2px;
  color: #e4c4f5;
}

body header nav {
  width: 90%;
  margin-top: 1.5rem;
}

body header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body header nav ul li {
  list-style-type: none;
  display: inline-block;
  margin: 0 1rem;
}

body header nav ul a {
  color: #000000;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  text-decoration: none;
  background-image: -webkit-gradient(linear, left top, left bottom, from(currentColor), to(currentColor));
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  -webkit-transition: background-size .3s;
  transition: background-size .3s;
}

body header nav ul a:hover, body header nav ul a:focus {
  background-size: 100% 2px;
  color: #ffffff;
}

.navYTitulos {
  color: #e4c4f5;
  font-family: 'Source Serif Pro', serif;
  font-weight: 600;
  font-size: 2.5rem;
  text-align: center;
}

.tituloMarca {
  margin-top: 5rem;
  margin-bottom: 5rem;
  font-size: 3rem;
}

.marcasTienda {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "areaUno areaDos areaTres areaCuatro areaCinco" "areaUno areaSeis areaSiete areaOcho areaNueve";
  grid-column-gap: 1rem;
  grid-row-gap: 2rem;
  margin-bottom: 10rem;
  margin-top: 10rem;
}

.marcasTienda .producto__imagen {
  width: 20vh;
  height: 20vh;
  border-radius: 5px;
}

.marcasTienda div ul li {
  text-decoration: none;
}

.marcasTienda p {
  margin-bottom: 1rem;
  color: #e4c4f5;
  font-size: 2.5rem;
  font-family: 'Urbanist', sans-serif;
  font-weight: 600;
}

.marcasTienda__nav {
  width: 65%;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: areaUno;
  margin-left: 0.5rem;
  border-left: 0.5rem solid #e4c4f5;
  border-top: 0.5rem solid #e4c4f5;
  height: 30%;
}

.anteojoUno {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: areaDos;
  -webkit-transition: 2s;
  transition: 2s;
}

.anteojoUno:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.anteojoDos {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: areaTres;
  -webkit-transition: 2s;
  transition: 2s;
}

.anteojoDos:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.anteojoTres {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: areaCuatro;
  -webkit-transition: 2s;
  transition: 2s;
}

.anteojoTres:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.anteojoCuatro {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
  grid-area: areaCinco;
  -webkit-transition: 2s;
  transition: 2s;
}

.anteojoCuatro:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.anteojoCinco {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: areaSeis;
  -webkit-transition: 2s;
  transition: 2s;
}

.anteojoCinco:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.anteojoSeis {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: areaSiete;
  -webkit-transition: 2s;
  transition: 2s;
}

.anteojoSeis:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.anteojoSiete {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
  grid-area: areaOcho;
  -webkit-transition: 2s;
  transition: 2s;
}

.anteojoSiete:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.anteojoOcho {
  -ms-grid-row: 2;
  -ms-grid-column: 5;
  grid-area: areaNueve;
  -webkit-transition: 2s;
  transition: 2s;
}

.anteojoOcho:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

ul,
ol {
  list-style: none;
}

.nav > li {
  float: left;
}

.nav > li ul {
  position: absolute;
  min-width: 140px;
}

.nav > li ul li {
  position: relative;
}

.nav > li ul li ul {
  right: -140px;
  top: 0px;
}

.nav > li a {
  font-size: 1.5rem;
  color: #ffffff;
  text-decoration: none;
  padding: 10px 12px;
  display: block;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  text-align: left;
}

.nav > li .caracteristicasMarca {
  font-size: 3rem;
  font-family: 'Roboto', sans-serif;
  color: #e4c4f5;
  font-weight: 600;
}

.nav > li .anteojoRecetado {
  margin-top: 2rem;
}

.nav > li .caracteristicasMarca:hover {
  background: none;
}

.nav li a:hover {
  background: linear-gradient(-66deg, #e4c4f5, black);
  color: #e4c4f5;
}

.nav li:hover > ul {
  display: block;
}

.subMenu {
  display: none;
}

.row {
  margin-top: 6rem;
  margin-bottom: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.row .row__textoCarta {
  color: #000000;
  font-family: 'Urbanist', sans-serif;
  margin-top: 2rem;
  font-size: 2rem;
  font-weight: 600;
}

.row .row__tituloCarta {
  font-size: 3rem;
  font-family: 'Source Serif Pro', serif;
  font-weight: 600;
  color: #594066;
}

.row .card {
  margin-bottom: 4rem;
  border-radius: 1rem;
  -webkit-transition: 1s;
  transition: 1s;
}

.row .card:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.resena {
  margin-top: 5rem;
  text-align: center;
  font-family: 'Urbanist', sans-serif;
  font-size: 7rem;
}

body section h1 {
  margin-bottom: 3rem;
}

body section h2 {
  margin-top: 2rem;
}

body section h2 a {
  text-decoration: none;
  list-style-type: none;
  color: #560161;
}

.preguntasFrecuentes {
  text-align: justify;
  line-height: 3rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
  padding-left: 50rem;
  padding-right: 50rem;
}

.preguntasFrecuentes p {
  font-family: 'Roboto', sans-serif;
  font-size: 2.5rem;
  font-weight: 500;
  margin-top: 2rem;
  color: #ffffff;
}

#faq {
  font-family: 'Urbanist', sans-serif;
  font-size: 7rem;
}

.sectionContacto {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "videoMapa datos";
}

.sectionContacto .sectionContacto__local {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: videoMapa;
  color: #560161;
  margin-top: 50rem;
  margin-bottom: 10rem;
}

.sectionContacto .sectionContacto__local .local {
  font-family: 'Urbanist', sans-serif;
  font-size: 5rem;
}

.sectionContacto iframe {
  margin-top: 2rem;
  width: 40rem;
  height: 30rem;
}

.sectionContacto__ubicacion {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: videoMapa;
  margin-top: 10rem;
  margin-bottom: 4rem;
}

.sectionContacto__ubicacion .ubicacion {
  font-family: 'Urbanist', sans-serif;
  font-size: 5rem;
}

.sectionContacto__formulario {
  background-color: #ffffff;
  width: 60rem;
  padding: 3rem;
  margin: auto;
  margin-top: 10rem;
  margin-bottom: 10rem;
  border-radius: 0.4rem;
  font-family: 'Urbanist', sans-serif;
  -webkit-box-shadow: 0.7rem 1.3rem 3.7rem #000000;
          box-shadow: 0.7rem 1.3rem 3.7rem #000000;
}

.sectionContacto__formulario h1 {
  color: #000000;
  font-size: 2.4rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  text-align: center;
  text-transform: uppercase;
}

.sectionContacto__formulario .botonFormulario {
  margin-top: 4rem;
  margin-left: 13rem;
}

.sectionContacto__formulario .boton {
  width: 70%;
  height: 4.5rem;
  margin-top: 1.5rem;
  border-radius: 0.4rem;
  color: blanchedalmond;
  text-transform: uppercase;
  background: -webkit-gradient(linear, right bottom, left top, from(#e4c4f5), to(#000000));
  background: linear-gradient(to left top, #e4c4f5, #000000);
  font-size: 2rem;
}

.sectionContacto__formulario .boton:hover {
  cursor: pointer;
  -webkit-transform: translateY(-0.3rem);
          transform: translateY(-0.3rem);
  -webkit-transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 0.3s;
  transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 0.3s;
}

.sectionContacto__formulario .boton:active {
  -webkit-transform: translateY(0.3rem);
          transform: translateY(0.3rem);
}

.sectionContacto__formulario .formItem {
  width: 100%;
  background-color: #faecff;
  padding: 1rem;
  border-radius: 0.4rem;
  margin-bottom: 2rem;
  border: 0.1rem solid #253B29;
  font-family: 'Source Serif Pro', serif;
  font-size: 1.8rem;
}

.sectionContacto__formulario .formItem:focus {
  height: 6rem;
}

.sectionContacto__formulario .palabrasForm {
  font-size: 2rem;
  color: #000000;
  font-family: 'Source Serif Pro', serif;
  font-weight: 600;
}

.sectionContacto__formulario .contactanos {
  margin-top: 2rem;
  font-family: 'Source Serif Pro', serif;
  font-size: 3rem;
  color: #560161;
}

.sectionContacto__formulario form div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #560161;
}

video {
  margin-top: 2rem;
}

footer {
  background-image: url(../imagenes/gradient.png);
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 3rem;
}

footer p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #e4c4f5;
  font-size: 2rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .infoFooter__texto {
  font-size: 1.5rem;
}

footer .infoFooter__primerSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

footer .mapaOptica {
  width: 250px;
  height: 100px;
  margin-top: 1.5rem;
}

footer .infoFooter__logo {
  width: 150px;
  margin-bottom: 2rem;
}

footer .pagos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .pagos .pagos__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 20rem;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 2rem;
}

footer .pagos .pagos__img .metodos__pago {
  width: 270px;
}

footer h3 {
  color: #ffffff;
  font-family: 'Urbanist', sans-serif;
  font-size: 1.5rem;
}

footer .redes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .redes .redes__img {
  width: 20rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 2rem;
}

footer .redes .redes__icono {
  width: 40px;
  height: 40px;
}

.error {
  margin-bottom: 5rem;
  margin-right: 8rem;
}

.botones {
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 10rem;
  margin-bottom: 10rem;
}

.error__boton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 15%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  padding: 10px;
  font-weight: 600;
  font-size: 20px;
  color: #000000;
  background-color: rgba(226, 145, 226, 0.726);
  border-radius: 6px;
  border: 2px solid #560161;
  margin-left: 780px;
}

.error__boton:hover {
  color: #560161;
  background-color: #e4c4f5;
}

.error__huno {
  margin-top: 2rem;
  font-size: 4rem;
  font-family: 'Roboto', sans-serif;
  color: #e4c4f5;
  font-weight: 600;
}

.error__p {
  margin-top: 3rem;
  margin-bottom: 4rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 3rem;
  color: #ffffff;
}

html {
  font-size: 62.5%;
  /* 1 rem = 10mpx */
}

@media (max-width: 1200px) {
  .destacados {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .destacados .carousel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: center;
        align-self: center;
  }
  .preguntasFrecuentes {
    padding-left: 5rem;
    padding-right: 5rem;
  }
  .marcasTienda {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "areaUno" "areaUno" "areaDos" "areaTres" "areaCuatro" "areaCinco" "areaSeis" "areaSiete" "areaOcho" "areaNueve";
  }
  .marcasTienda .marcasTienda__nav {
    margin-bottom: 22rem;
  }
}

@media (max-width: 800px) {
  header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .destacados {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .destacados .destacados__productos {
    -webkit-column-gap: 20px;
            column-gap: 20px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  nav ul li a {
    font-size: 1.5rem;
  }
  .infoFooter {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .infoFooter .titulo__footer {
    margin-top: 1.5rem;
  }
  .infoFooter .redes .redes__img {
    width: 100%;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .infoFooter .pagos .pagos__img {
    width: 100%;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .infoFooter .infoFooter__texto {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .infoFooter .infoFooter__primerSection {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .preguntasFrecuentes {
    padding-left: 10rem;
    padding-right: 10rem;
  }
  .sectionContacto {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "videoMapa" "datos";
  }
  .sectionContacto__formulario {
    width: 100%;
  }
  .marcasTienda {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "areaUno" "areaUno"  "areaDos" "areaTres" "areaCuatro"  "areaCinco" "areaSeis" "areaSiete"  "areaOcho" "areaNueve";
  }
  .marcasTienda .marcasTienda__nav {
    margin-bottom: 22rem;
  }
}

@media (max-width: 600px) {
  body .destacados .carousel {
    width: 550px;
    margin-top: 0%;
    margin-left: 0%;
  }
  .destacados__productos {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body h1 {
    margin-top: 5rem;
    margin-bottom: 5rem;
  }
  .infoFooter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .infoFooter .redes .redes__img {
    width: 100%;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .infoFooter .pagos .pagos__img {
    width: 100%;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .infoFooter .infoFooter__texto {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .infoFooter .infoFooter__primerSection {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-size: cover;
    height: 100%;
    width: 100%;
  }
  header .header__logo {
    margin-left: 2rem;
  }
  header nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header .contenedorNav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .miNombre {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .preguntasFrecuentes {
    padding-left: 10rem;
    padding-right: 10rem;
  }
  .sectionContacto {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "videoMapa" "datos";
  }
  .sectionContacto__formulario {
    width: 100%;
  }
  .marcasTienda {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "areaUno" "areaUno" "areaDos" "areaTres" "areaCuatro" "areaCinco" "areaSeis" "areaSiete" "areaOcho" "areaNueve";
  }
  .marcasTienda .marcasTienda__nav {
    margin-bottom: 22rem;
  }
}

@media (max-width: 480px) {
  .tituloIndex {
    margin-top: 6rem;
    margin-bottom: 3rem;
  }
  .nombre_pagina {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .destacados {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .destacados .producto__index {
    margin-left: 5rem;
  }
  .destacados .producto__imagen {
    margin-left: 1rem;
  }
  .destacados .destacados__productos {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body .destacados .carousel {
    width: 450px;
    margin-top: 4rem;
    margin-left: 0rem;
  }
  header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-size: cover;
    height: 100%;
    width: 100%;
  }
  header nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header nav ul li a {
    font-size: 1.5rem;
  }
  header .contenedorNav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .infoFooter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
  }
  .infoFooter .infoFooter__primerSection {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .infoFooter .logoFooter {
    margin-top: 1rem;
  }
  .infoFooter .miNombre {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .infoFooter .redes .redes__img {
    width: 100%;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .infoFooter .pagos .pagos__img {
    width: 100%;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .infoFooter .infoFooter__texto {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .infoFooter .infooter__logo {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .preguntasFrecuentes {
    padding-left: 10rem;
    padding-right: 10rem;
  }
  .preguntasFrecuentes p {
    font-size: 1.5rem;
  }
  .sectionContacto {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "videoMapa" "datos";
  }
  .sectionContacto__formulario {
    width: 100%;
  }
  .marcasTienda {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "areaUno" "areaUno" "areaDos" "areaTres" "areaCuatro" "areaCinco" "areaSeis" "areaSiete" "areaOcho" "areaNueve";
  }
  .marcasTienda .marcasTienda__nav {
    margin-bottom: 22rem;
  }
}
/*# sourceMappingURL=style.css.map */