footer {
    background-image: url(../imagenes/gradient.png);
    background-size: cover;
    display: flex;
    justify-content: space-around;
    padding-top: 3rem;

    .infoFooter__texto {
        align-self: flex-end;
        color: $rosa;
        font-size: 1.5rem;
    }

    .infoFooter__logo {
        align-self: flex-start;
    }

    .pagos {
        display: flex;
        flex-direction: column;

        .pagos__img {
            display: flex;
            width: 20rem;
            justify-content: space-around;
            margin-top: 2rem;
        }
    }

    h3 {
        color: $blanco;
        font-family: 'Urbanist', sans-serif;
        font-size: 1.5rem;
    }

    .redes {
        display: flex;
        flex-direction: column;

        .redes__img {
            width: 20rem;
            display: flex;
            justify-content: space-around;
            margin-top: 2rem;
        }
    }
}
