footer {
    background-image: url(../imagenes/gradient.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 3rem;

    .infoFooter__primerSection {
        display: flex;
        justify-content: space-around;
    }

    .mapaOptica {
        width: 250px;
        height: 100px;
        margin-top: 1.5rem;
    }

    .infoFooter__texto {
        align-self: flex-end;
        color: $rosa;
        font-size: 1.5rem;
        display: flex;
        justify-content: center;
    }

    .infoFooter__logo {
        width: 150px;
        margin-bottom: 2rem;
    }

    .pagos {
        display: flex;
        flex-direction: column;

        .pagos__img {
            display: flex;
            width: 20rem;
            justify-content: space-around;
            margin-top: 2rem;

            .metodos__pago {
                width: 270px;
            }
        }
    }

    h3 {
        color: $blanco;
        font-family: 'Urbanist', sans-serif;
        font-size: 1.5rem;
    }

    .redes {
        display: flex;
        flex-direction: column;

        .redes__img {
            width: 20rem;
            display: flex;
            justify-content: space-around;
            margin-top: 2rem;
        }

        .redes__icono {
            width: 40px;
            height: 40px;
        }
    }
}
