body header nav {
    width: 90%;
    position: sticky;

    ul {
        display: flex;
        justify-content: space-around;

        li {
            list-style-type: none;
            display: inline-block;
            margin: 0 1rem;
        }

        li:hover {
            background: -webkit-linear-gradient(-66deg, rgb(228, 196, 245), rgb(0, 0, 0));
            background: linear-gradient(-66deg, rgb(228, 196, 245), rgb(0, 0, 0));
        }

        a {
            text-decoration: none;
            color: $blanco;
            font-family: 'Roboto', sans-serif;
            font-weight: 600;
        }

        a:hover {
            padding: 1rem;
            color: $blanco;
            transition: 3s;
        }
    }
}

.navYTitulos {
    color: $rosa;
    font-family: 'Source Serif Pro', serif;
    font-weight: 600;
    font-size: 2.5rem;
    text-align: center;
}
