                                           /*     ___RESEST__     */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import "variables";
@import "fuentes";
@import "index";
@import "navbar";
@import "tienda";
@import "resenas";
@import "preguntasfrecuentes";
@import "contacto";
@import "footer";
@import "error";


html {
    font-size: 62.5%;
    /* 1 rem = 10mpx */
}

                                             /*      ______GRIDS____       */
.destacados {
    display: flex;

    .destacados__productos {
        display: flex;
    }

    .fotoIndex {
        margin-left: 3rem;
    }

    .productoUno {
        transition: 1s;
    }

    .productoUno:hover {
        transform: scale(1.1);
    }

    .productoDos {
        transition: 1s;
    }

    .productoDos:hover {
        transform: scale(1.1);
    }

    .productoTres {
        transition: 1s;
    }

    .productoTres:hover {
        transform: scale(1.1);
    }

    .productoCuatro {
        transition: 1s;
    }

    .productoCuatro:hover {
        transform: scale(1.1);
    }

    .productoCinco {
        transition: 1s;
    }

    .productoCinco:hover {
        transform: scale(1.1);
    }

    .productoSeis {
        transition: 1s;
    }

    .productoSeis:hover {
        transform: scale(1.1);
    }

    .productoSiete {
        transition: 1s;
    }

    .productoSiete:hover {
        transform: scale(1.1);
    }

    .productoOcho {
        transition: 1s;
    }

    .productoOcho:hover {
        transform: scale(1.1);
    }
     p   {
          margin-bottom: 1rem;
          color: $blanco;
          font-size: 3.5rem;
          font-family: 'Urbanist', sans-serif;
      }
}

@import "mediaqueries";